.page-header {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.06);
    border-bottom: 1px solid #e3e9ef;
    &__content {
        padding:2em 0;
    }   
}

.wc-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    &__group {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:0 0.4em;
            #source_text_label {
                font-size: 2rem;
                margin-bottom: 0.5em;
            }
            #upload_file_btn {
               box-shadow: 0 1px 3px 0 rgba(0,0,0,.06);
               padding: 2.8px 13px;
               font-size: .9rem;
               cursor: pointer;
               span{
                color: #a8a8a8;
               }
               svg {
                   transform: scale(0.6);
               }
               &:hover {
                 box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.06);
                   span{
                    color:black;
                   }
               }
            }
        }
        #source_text {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.06);
            border: 1px solid #e3e9ef;
            appearance: none;
            caret-color: #818c97;
            color:#2a3e52;
            resize: none;
            outline:none;
            padding:20px;
            font-size: 16px;
            height:16rem;
            border-radius: 5px;
            width:max(80vw,20em);
            height:20em;
        }
        #submit-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0088FF;
            color: white;
            border:none;
            border-radius: 5px;
            padding:1em 3em;
            font-size: 1.2rem;
            margin-top: 0.5em;
            &__content {
                display: flex;
                white-space: nowrap;
                justify-content: space-between;
                #arrow-icon-container  {
                    margin-left:20px;
                    #white-arrow-icon {
                    }
                }
            }
            &:hover {
                background-color: rgb(1, 127, 238);
            }
         }
    }
}